/** Add css rules here for your application. */

.cw-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable-buttonPanel td {
  border: 0px;
}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #031E66;
  margin: 10px 0px 20px;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: #031E66;
  text-align: left;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
