<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <servlet>
		<servlet-name>displayServlet</servlet-name>
		<servlet-class>plumb.server.display.DisplayServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayServlet</servlet-name>
		<url-pattern>/test_plumb/display</url-pattern>
	</servlet-mapping>
  
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>playServlet</servlet-name>
    <servlet-class>sample.server.PlayServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>playServlet</servlet-name>
    <url-pattern>/test_plumb/play</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>playerServlet</servlet-name>
    <servlet-class>sample.server.PlayerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>playerServlet</servlet-name>
    <url-pattern>/test_plumb/player</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Test_plumb.html</welcome-file>
  </welcome-file-list>

</web-app>
